.services-page {
  background: #000;
  color: #fff;
  padding: 80px 5%;
}

.services-heading {
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 48px;
  margin-bottom: 80px;
  letter-spacing: 3px;
}

.service-section {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 120px;
}

.service-section.reverse {
  flex-direction: row-reverse;
}

/* IMAGE */
.service-image {
  flex: 1;
  overflow: hidden;
}

.service-image img {
  width: 100%;
  border-radius: 10px;
  transform: translateY(-80px);
  opacity: 0;
  animation: imageReveal 1.2s ease forwards;
}

/* CONTENT */
.service-content {
  flex: 1;
}

.service-content h2 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

.service-content p {
  font-family:'Courier New', Courier, monospace;
  font-size: 18px;
  line-height: 1.7;
  color: #ccc;
}

/* IMAGE MOVE TOP → BOTTOM */
@keyframes imageReveal {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .service-section,
  .service-section.reverse {
    flex-direction: column;
  }

  .services-heading {
    font-size: 36px;
  }
}
